# pyproject.toml
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "pestifer"
version = "2.1.2"
authors = [
  { name="Cameron F Abrams", email="cfa22@drexel.edu" },
]
description = "A NAMD topology/coordinate system preparation tool"
readme = "README.md"
requires-python = ">=3.12"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: POSIX :: Linux",
]
dependencies = [
  "colorist",
  "docutils>=0.20,<0.22",  # Required for sphinx
  "filelock",
  "fsspec",
  "gputil",
  "joblib",
  "matplotlib",
  "mmcif",
  "networkx",
  "numpy>=1.24",
  "pandas",
  "pidibble>=1.5.2",
  "platformdirs",
  "progressbar2",
  "pydantic",
  "pyyaml>=6",
  "sphinx>=8.2.3",
  "scipy",
  "unidiff",
  "ycleptic>=2.0.1",
]

[project.scripts]
pestifer = "pestifer.core.pestifer:cli"

[project.urls]
"Source" = "https://github.com/cameronabrams/pestifer"
"Documentation" = "https://pestifer.readthedocs.io/en/latest/"
"Bug Tracker" = "https://github.com/cameronabrams/pestifer/issues"

[tool.pytest.ini_options]
log_cli = false

[project.entry-points.pytest11]
pestifer = "pestifer.util.pytest_plugin"

[tool.hatch.envs.default.scripts]
post-install = [
  "pip install pdb2pqr==3.7.1 --no-deps"
]

[tool.hatch.build]
exclude = [
  "pestifer/resources/_archive/**",
  "tests/__*/",        # immediate subdirs like tests/__pycache__/
  "tests/**/__*/",     # any nested __* directories under tests/
  "tests/logs/",
]