pillow
alabaster
sphinx
sphinx-rtd-theme
furo
readthedocs-sphinx-ext<2.3
myst-parser
sphinx-copybutton
sphinxcontrib-mermaid
docutils
numpy
pyyaml
pandas
pidibble
ycleptic
mmcif
progressbar2
networkx
colorist
gputil
scipy
matplotlib
